* {
    margin:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.superior {
    background-color:#222222;
    display:flex;
    color:#F3F3F3;
    justify-content:space-between;
}
.superior span {
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.superior .price{
    display:flex;
    padding-top:5px;
    padding-right:10px;
}

.banner{
    background-color:#F0A83E;
    display:flex;
    justify-content: space-between;
}

.banner span {
    color:white;
    margin-left:58px;
    margin-top:20px;
    margin-bottom:20px;
    font-size:25px;
    font-weight:700;
}

.banner span #perrito-1, #perrito-2 {
    width:20px;
    height:auto;
}

.banner .navbar{
    display:flex;
    margin-top:25px;
    margin-right:58px;
}

.banner .navbar li{
    color:white;
    display:inline;
    padding-left:15px;
    padding-right:15px;
}

.welcome {
    background-image: url(../assets/banner.jpeg);
    display:flex;
    justify-content:end;
    background-size:100%;
    background-position:100%;
    /* padding-right:20px;
    padding-bottom:107px;
    padding-top:156px; */
}

.welcome .titulares{
    display:flex;
    flex-direction:column;
    margin-right:20px;
    margin-bottom:107px;
    margin-top:156px;
    align-items:center;
}

.welcome .titulares li {
    display:flex;
    padding-top:11px;
    padding-bottom:11px;
    justify-content: center;
}

.welcome .titulares .titular{
    font-size:30px;
    background-color:white;
    border-radius:5px;
    padding: 10px;
    color: #3C2313;
}

.welcome .titulares .promocion{
    font-size: 16px;
    font-weight: 400;
    color: #3C2313;
}

.welcome .titulares .boton{
    font-size:16px;
    background-color:#F0A83E;
    color:#FFFFFF;
    width:fit-content;
    padding:15px 23px 15px 23px;
    border-radius:5px;
}

.productos-main{
    display:flex;
    justify-content:center;
    margin-top:20px;
    width: 100%;
}

.productos-main .header-prod{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.productos-main .header-prod img{
    width:67px;
    height:71px;
    margin-bottom:5px;
}

.productos-main .header-prod .titulo-prod{
    margin-bottom:20px;
    color:#3C2313;
    font-size:40px;
    font-weight:700;
}

.productos-main .header-prod .subtitle-prod{
    display:flex;
    width:100%;
    justify-content:space-around;
    font-size:15px;
    color:#666666
}

.shop{
    display:flex;
    width:100%;
    justify-content:center;
}

.shop .card-producto{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:20px;
    margin-right:20px;
}

.shop .card-producto .item{
    width:265px;
    height:auto;
}

.shop .card-producto .producto-name{
    font-size:15px;
    font-weight:500;
    color:#3C2313;
}

.shop .card-producto .producto-price{
    font-size:15px;
    font-weight:500;
    color:#F0A83E;
}

.contacto{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
    margin-top:70px;
}

.contacto .contactanos{
    font-size:25px;
    font-weight:700;
    color:#3C2313;
    margin-bottom:20px;
}

.contacto .formulario{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.contacto .formulario .form-item{
    background-color:#3C2313;
    width:340px;
    margin-top:5px;
    margin-bottom:5px;
    color:#FFFFFF;
    font-size:9px;
    padding-top:15px;
    padding-bottom:14px;
    padding-right:auto;
    padding-left:14px;
    border-radius:15px;
}

.form-buttons{
    display:flex;
    justify-content:center;
    width:100%;
    margin-top:35px;
}

.form-buttons #reset{
    font-weight:400;
    font-size:16px;
    color:#FFFFFF;
    background-color:#8A8787;
    border-radius:15px;
    padding:8px 22px 8px 22px;
    margin-right:3px;
}

.form-buttons #enviar{
    font-weight:400;
    font-size:16px;
    color:#FFFFFF;
    background-color:#F0A83E;
    border-radius:15px;
    padding:8px 22px 8px 22px;
    margin-left:3px;
}

.head-news{
    background-color:#F0A83E;
    width:100%;
    display:flex;
    margin-top:75px;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
}

.head-news .news-subscribe{
    display:flex;
}

.head-news .news-subscribe .news-texto{
    font-weight:700;
    font-size:20px;
    color:#FFFFFF;
    margin-left:15px;

}

.head-news .news-subscribe #sobrecito{
    margin-left:25px;
}

.head-news .form-subscribe .mail-subscribe{
    color:#A0A0A0;
    font-size:9px;
    padding-top:14px;
    padding-bottom:15px;
    padding-left:8px;
    padding-right:150px;
    background-color:#FFFFFF;
    border-radius:15px;
}

.head-news .form-subscribe .button-subscribe{
    color:#FFFFFF;
    font-size:9px;
    padding: 10px;
    background-color:#3C2313;
    border-radius:15px;
    margin-right:25px;
}

